<div>
    <h1>Ангуляр пути</h1>
    <nav>
        <a routerLink="">Главная</a>
        <a routerLink="/about">О нас</a>
        <a routerLink="/price">Цена</a>
        <a routerLink="/news">Новости</a>
    </nav>
    <router-outlet></router-outlet>
</div>

User name: <input type="text" [(ngModel)]="userName">
<button (click)="search()">Search</button>

<div *ngIf="response">
    <img src="{{response.avatar_url}}" alt="{{response.login}}" title="{{response.login}}"/>
    <p>Имя:{{response.login}}</p>
</div>
